body {
  margin: 0;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  margin: 0;
} 


.nav-items {
  display: flex;
  justify-content: space-between;
}

.tiles {
  display: flex;
}

.hero {
  padding: 2em;
  background-color: #242424;
  align-items: left;
  
}
.top {
  width: 30%
}

h1 {
  font-size: 4em;
  line-height: 1.1;
  color: white;
 
}

h4 {
  color: white;
}

li {
  list-style: none
}

.navbar img {
 max-width: 4em;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: white;
  cursor: pointer;
  transition: border-color 0.25s;
color: #242424; ;
}

button:hover {
  border-color: #646cff;
} 

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
