#root, .App{
  margin: 0;
  padding: 0;
}

.card-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 10px; /* Adjust the margin as needed to provide space between cards */
}
.CardLayout{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;}

.card-body img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
}

h1 {
  margin: 10px 0;
}

p {
  color: #666;
}


.nav-container{
  background-color:rgb(6, 6, 52);
  color: white;
  width:  100%;
  height: 600px;

}

.nav-bar{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h1{
  font-size: 56px;
  margin-left: 60px;
}


button{
  background-color: white;
  color:rgb(6, 6, 52) ;
  padding: 20px;
  margin-left: 60px;
  font-size: 16px;
}

h3{
  margin-left: 60px;
}

