.TopSection {
    background-color: rgb(13, 13, 61);
    color: azure;
    height: 70vh;
    width: 193vh;
    margin-left: -85px;
    padding: 50px;
}

.Navbar {
    display: flex;
    justify-content:space-between;
}

.SecondH1 {
    margin-top: 1px;
    
}

.FirstH1 {
    margin-bottom: 1px;
}

.Parr1 {
    margin-right: 158vh;
}

.Button1 {
    margin-top: 10vh;
}

.Img2 {
    height: 10px;
}

.Img1 {
    margin-left: 25px;
}