.intro {
  background-color: #1f2535;
  display: flex;
  flex-direction: column;
  color: #f6f2f2;
  margin: 20px 40px;
}

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 60px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  text-align: left;
  height: 80vh;
  width: 460px;
  margin: 20px 60px;

  height: 70vh;
}

.header h1 {
    font-size: 62px;
    margin-bottom: 0;
    line-height: 1em;
}

.header p {
  line-height: 1.4em;
  font-size: 20px;
  font-weight: 50;
  margin-top: 10px;
}

.header button{
    color: #1f2535;
    background-color: #f6f2f2;
    width: 100px;
    height: 50px;
    border-radius: 5%;
    font-size: 15px;
    font-weight: 800;
}