.menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 50px;
    height: auto;
    cursor: pointer;

}

.menu-icon{
    cursor: pointer;
}
