#root {
  min-width: 100%;
}

.App {
  min-width: 100%;
}

p {
  font-size: 1.4rem;
}

.text-xxl {
  font-size: 4.5rem;
  line-height: 1.1;
}

.text-lg {
  font-size: 1.75rem;
  font-weight: 600;
}

.text-md {
  font-size: 1.5rem;
}

.text-sm {
  font-size: 1.25rem;
}

.text-xs {
  font-size: 1.125rem;
  font-weight: 300;
  line-height: 1.2;
}

.button-white {
  display: inline-block;
  background-color: white;
  color: #282828!important;
  cursor: pointer;
  padding: 20px 28px;
  font-size: 1.6rem;
  border-radius: 0.2rem;
}

section#landing {
  max-width: 440px;
  padding: 40px 60px;
}

section#landing h1 {
  margin: 100px 0 12px 0;
}

section#landing .button-white {
  margin-top: 64px;
}

section#features {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

section#features .wrapper {
  display: flex;
  flex-flow: row wrap;
  gap: 52px;
  justify-content: center;
}